# Salin file ini menjadi .env lalu isi sesuai database kamu
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=isi_password_database
DB_NAME=web_zephy

SESSION_SECRET=ganti_dengan_teks_acak_yang_panjang
PORT=3000
